.portfolio__icon{
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
    color: #FFFFFF;
}

.portfolio__icon:hover{
    color: #9e9393;
    transition: 0.5s
  }

@media screen and (max-width: 320px) {
    .portfolio__icon {
        font-size: 18px;
    }
  }
