/* @import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    background-color: #202020;
    font-family: 'inter', Arial, sans-serif;
    color: #FFFFFF;
} */