@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1280px;
    background-color: #073042;
    font-family: 'inter', Arial, sans-serif;
    color: #FFFFFF;
}