.aboutMe__position-info {
  margin: 45px 70px 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .aboutMe__position-info {
    margin: 28px 51px 0 50px;
  }
}

@media screen and (max-width: 600px) {
  .aboutMe__position-info {
    flex-direction: column-reverse;
    margin: 60px 22px 0 16px;
  }
}
