.portfolio {
      max-width: 1280px;
  width: 100%;
  margin: 100px 0 106px 0;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin: 88px 0 70px 0;
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
    margin: 69px 0 47px 0;
  }
}
