.register__input-name{
  height: 18px;
  border: none;
  border-bottom: 1px solid #424242;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #202020;
  margin: 10px 0 25px 0;
  color: #ffffff;
}