@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);

.app{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #202020;
    font-family: 'inter', Arial, sans-serif;
    color: #FFFFFF;
}