.error__title{
    margin: 484px 0 10px 0;
    font-weight: 400;
    font-size: 137px;
    line-height: 14px;
}

@media screen and (max-width: 320px) {
    .error__title {
        margin: 372px 10px 10px 10px;
        font-size: 80px;
    }
  }