.searchForm__cards {
  width: 270px;
  height: 218px;
  margin-bottom: 20px;
  background-color: #222222;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .searchForm__cards {
    width: 345px;
    height: 249px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 363px) {
  .searchForm__cards {
    width: 298px;
  }
}