.searchForm__button{
    background-image: url('../../../images/find-3.svg');
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-repeat: repeat;
    cursor: pointer;
    background-size: cover;
}