.searchForm__button-save{
    margin: 11px 0 0 184px;;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #313131;
    cursor: pointer;
    transition: opacity 0.3s;
}

@media screen and (max-width: 768px) {
    .searchForm__button-save {
        margin: 13px 0 0 252px;
    }
  }

  @media screen and (max-width: 430px){
.searchForm__button-save {
    margin: 13px 0 0 211px;
}
}