.searchForm__film{
    max-width: 1280px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    margin: 81px 70px 0 70px;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .searchForm__film{
        margin: 78px 0 0 0;
    }
}

@media screen and (max-width: 320px){
.searchForm__film {
    margin: 47px 0 0 0;
    gap: 6px;
}
}