.login__title{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    margin: 47px 0 48px 4px;
}

@media screen and (max-width: 320px) {
    .login__title {
        margin: 56px 0 86px 2px;
        font-size: 25px;
    }
  }