.footer__title{
    margin: 77px 70px 20px 70px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    border-bottom: 1px solid #424242;
}

@media screen and (max-width: 768px) {
    .footer__title {
        margin: 79px 30px 20px 30px;
    }
  }

@media screen and (max-width: 370px) {
    .footer__title {
        font-size: 12px;
        margin: 79px 15px 20px 15px;
    }
  }