.aboutProject__position{
    display: flex;
    margin: 79px 70px 0 40px;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
}

@media screen and (max-width: 550px) {
    .aboutProject__position{
        flex-direction: column;
        margin: 60px 18px 0 18px;
        gap: 110px;
    }
}