.aboutProject__grid{
    margin: 155px 71px 10px 70px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 36px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}