.aboutProject__project{
    margin: 0 70px 0 70px;
    padding-bottom: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 17px;
    padding-top: 5px;
    border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 550px) {
    .aboutProject__project{
        margin: 0 18px 0 18px;
    }
}