.header__popUp {
  background-image: url("../../images/icon__COLOR_icon-mainPopup.svg");
  background-image: no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: none;
  background-color: transparent;
}

@media screen and (max-width: 769px) {
  .header__popUp {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .header__popUp {
    display: flex;
  }
}