.promo{
    width: 100%;
    height: 664px;
    background-image: url('../../../images/pic__COLOR_landing-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}