.promo__singin{
    margin: 0;
    color: #000000;
    padding: 8px 20px 8px 20px;
    background-color: #3DDC84;
    border-radius: 5px;
    max-width: 76px;
    max-height: 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none;
}